<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>
  <td>Edad:</td>
  <dd>{{age}}</dd>
  <td>Metodo:</td>
  <dd>{{getNameAndAge()}}</dd>
  <td>Capitalizado</td>
  <dd>{{capitalizeName}}</dd>
</dl>

<button
  *ngIf="name !== 'SpiderMan'"
  (click)="changeName()"
  class="btn btn-primary mx-2"
  >
  Cambiar nombre
</button>
<button
  *ngIf="age !== 100"
  (click)="changeAge()"
  class="btn btn-primary mx-2"
>
Cambiar edad
</button>
<button
  *ngIf="name !== 'Superman' || age !== 10"
  (click)="resetForm()"
  class="btn btn-primary mx-2"
>
  Reiniciar form
</button>
